# Node.js modules
node_modules/

# Build directories
/dist
/build

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Log files
*.log

*.Identifier

# IDE and editor files
.vscode/
.idea/

# Temporary files
*.swp
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Next.js / React specific
.next/
.cache/

# TailwindCSS build files
*.css.map