.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 90vh;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  opacity: 0.5;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* devextreme-custom.css */
:root {
  --dx-font-family: var(--font-family, 'Poppins');
  --dx-base-font-size: var(--font-size-base, 12px);
}

.dx-datagrid-table {
  background-color: var(--bg-default, #ffffff) !important;
  color: var(--primary-contrast-text) !important;
  border-color: #aaa !important;
}


.swal2-container {
  z-index: 9999;
}

div:where(.swal2-icon){
    width: 3em;
    height: 3em;
}

.swal2-title {
  font-size: 20px !important;
}

.swal2-html-container {
  font-size: 14px !important;
}

div:where(.swal2-container) button:where(.swal2-styled) {
    margin: .3125em;
    padding: 5px 25px !important;
    min-width: 75px !important;
    border-radius: 4px !important;
    transition: var(--swal2-button-transition);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
    font-weight: 500;
    font-size: 13px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 1px solid var(--primary-main) !important;
    background: initial;
    background-color: var(--primary-main) !important;
    color: #fff;
    font-size: 1em;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-deny) {
    border: 1px solid var(--primary-main) !important;
    background-color: transparent !important;
    color: var(--primary-main) !important;
    font-size: 1em;
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled:hover {
    background-image: linear-gradient(var(--primary-main), var(--primary-main));
}

/* div:where(.swal2-icon) .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 40px !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=right]
 {
    right: 0.7em !important;
    transform: rotate(-45deg);
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 0.75em !important;
    transform: rotate(45deg);
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 1.4em !important;
    width: 1.5em !important;
    height: 0.25em;
    border-radius: .125em;
    background-color: #f27474;
} */