.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 90vh;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  opacity: 0.5;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* devextreme-custom.css */
:root {
  --dx-font-family: var(--font-family, 'Poppins');
  --dx-base-font-size: var(--font-size-base, 12px);
}

.dx-datagrid-table {
  background-color: var(--bg-default, #ffffff) !important;
  color: var(--primary-contrast-text) !important;
  border-color: #aaa !important;
}

/* .dx-datagrid {
  font-family: var(--font-family, 'Poppins') !important;
  font-size: var(--font-size-base, 14px) !important;
}

.dx-datagrid .dx-header-row {
  background-color: var(--primary-main) !important;
  color: var(--primary-contrast-text) !important;
}

.dx-datagrid .dx-data-row:hover {
  background-color: var(--primary-hover) !important;
} */

.swal2-title {
  font-size: 20px !important;
}

.swal2-html-container {
  font-size: 14px !important;
}

div:where(.swal2-container) button:where(.swal2-styled) {
    margin: .3125em;
    padding: 10px 15px !important;
    transition: var(--swal2-button-transition);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
    font-weight: 500;
    font-size: 13px !important;
}